DATA_DIR=../data

# OneMap (https://www.onemap.gov.sg/apidocs/)
ONEMAP_EMAIL=your@email.com
ONEMAP_PASSWORD=yourpassword

# URA API (https://eservice.ura.gov.sg/maps/api/reg.html)
URA_ACCESS_KEY=your-ura-access-key
